﻿@inherits UmbracoViewPage<UmbracoMagic.Web.Core.ViewModels.Card.CardViewModel>

<h1>@Model.CardName</h1>
<div>
    <img src="@Model.CardImage.GetCropUrl(223, 311);" alt="@Model.CardName">
</div>
<div>
    <div>
        <div class="title">@Umbraco.GetDictionaryValue("Card - Type")</div>
        <div>@Model.CardType</div>
    </div>
    <div>
        <div class="title">@Umbraco.GetDictionaryValue("Card - Text")</div>
        <div>@Html.Raw(@Umbraco.ReplaceLineBreaksForHtml(Model.CardText))</div>
    </div>
    <div>
        <div class="title">@Umbraco.GetDictionaryValue("Card - Artist")</div>
        <div>@Model.Artist</div>
    </div>
</div>