﻿@inherits UmbracoViewPage<UmbracoMagic.Web.Core.ViewModels.Search.SearchResultViewModel>

@foreach (var result in Model.Results)
{
    <a href="@result.Url">
        @{Html.RenderPartial("Card/Card", result);}
    </a>
    <hr/>
}