﻿@using UmbracoMagic.Web.Core.RequestModels;
@inherits UmbracoViewPage<UmbracoMagic.Web.Core.RequestModels.SearchFormViewModel>

@using (Html.BeginUmbracoForm("SearchSubmit", "Home"))
{
    <div>
        <div class="title">@Umbraco.GetDictionaryValue("Search - Term"):</div>
        <input type="text" name="SearchTerm" value="@Model.SearchTerm"/>
    </div>
    <div>
        <div class="title">@Umbraco.GetDictionaryValue("Search - Order By"):</div>
        <select name="OrderBy">
            @foreach(var orderByValue in Enum.GetValues(typeof(OrderByOptions)))
            {
                <option value="@orderByValue.ToString()" >@orderByValue.ToString()</option>
            }
        </select>
    </div>
    <div>
        <div class="title">@Umbraco.GetDictionaryValue("Search - Order Option")</div>
        <select name="AscOrDesc">
            @foreach (var orderValue in Enum.GetValues(typeof(OrderOptions)))
            {
                <option value="@orderValue.ToString()">@orderValue.ToString()</option>
            }
        </select>
    </div>
    <input type="submit" name="Submit" value="Submit" />
}