﻿@inherits UmbracoViewPage<UmbracoMagic.Web.Core.ViewModels.Master.SeoViewModel>

<meta name="viewport" content="width=device-width" />

@if (Model != null)
{
    <meta name="description" content="@Model.Description" />
    <title>@Model.Title</title>
}
